:root {
  /* Color-Palette */
  --bg-dark-blue: #202733;
  --bg-dark-grayish-blue: #313a48;
  --text-light-cyan: #cee3e9;
  --accent-neon-green: #53ffaa;

  /* Typography Size */

  --paragraph-lg: 2.8rem;
  --paragraph-sm: 2.4rem;

  --h1--lg: 1.3rem;
  --h1--sm: 1.1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--bg-dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
